*{
    box-sizing: border-box;
}
#edit, #remove-atribute{
    margin-top: 20px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    display: block;
    border: none;
    border: 1px solid lightgreen;
    background-color: aquamarine;
    font-weight: 700;
    transition-duration: 0.5s;
    margin-bottom: 10px;
}

#edit:hover{
    border: 3px solid lightgreen;
    background-color: rgb(96, 255, 202);
    
}

#content{
    width: 100%;
    display: block;
    height: 400px;
}

.teg__block-replece{
    display: none;
}

.teg__block-replece.active{
    display: block;
}